{{>layouts/header}}
    <div>
        <div>타이틀 / {{title}}</div>
    </div>
    <div>
        <div>내용 / {{contents}}</div>
    </div>
    <div>
        <button onclick="location.href='/article'">앞으로</button>
    </div>
{{>layouts/footer}}